* {
  margin: 0;
  padding: 0;
}

header,main,footer,nav,aside,section,article,div {
  display: block;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "ADLaM Display";
}

header {
  height: 340px;
  width: 100%;
  background-color: #FFE5D0;
  /* display: flex; */
  /* justify-content: space-between; */
}

#top-header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
}

#low-header h1 {
  /* display: flex; */
  height: 95vh;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.70);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 53px;
}

/* #step1 {
  position: absolute;
  top: 220px;
  left: 410px;
  background-image: url("../images/icons/dogStep.png");
  background-repeat: no-repeat;
  width: 60vw;
  height: 60vh;
  transform: rotate(-23.108deg);
  flex-shrink: 0;
} */

/* #step2 {
  position: absolute;
  top: 170px;
  left: 350px;
  background-image: url("../images/icons/dogStep.png");
  background-repeat: no-repeat;
  width: 60vw;
  height: 60vh;
  transform: rotate(-9.322deg);
  flex-shrink: 0;
} */

.navbar {
  height: 140px;
  width: 100%;
}

#logo {
  position: absolute;
  z-index: 1;
  width: 98px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 167px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-top: 12px;
}

.nav-item {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.nav-item:not(:last-child) {
  margin-right: 80px;
  /* margin-right: 25%; */
  /* justify-content: space-between; */
}

.container-fluid .navbar-collapse {
  text-align: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#header-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar-toggler {
  border-width: 0px;
}

/* .navbar-nav {
  justify-content: space-between;
} */

#top-header img {
  width: 85px;
  height: 81.634px;
  flex-shrink: 0;
  border-radius: 100px;
  /* margin-left: 31px; */
  /* margin-top: 18px; */
}

#top-header p {
  color: #000;
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  /* display: flex; */
}

#top-header h1 {
  display: none;
}

@media only screen and (max-width: 1420px) {
  #top-header img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    /* margin-left: 31px; */
    /* margin-top: 18px; */
  }

  header {
    height: 80px;
    width: 100%;
    background-color: #FFE5D0;
    /* display: flex; */
  }

  #top-header {
    background-color: #FFE5D0;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
  }

  #top-header h1 {
    text-align: center;
    /* justify-content: center; */
    display: flex;
    margin-right: 380px;
  }

  #logo {
    width: 70px;
    height: 70px;
    border-radius: 167.5px;
  }

  #low-header {
    /* position: absolute; */
    display: none;
  }

  .nav-item {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: "ADLaM Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 60px;
    line-height: normal;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}