* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
article,
div {
  display: block;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  /* display: block; */
  /* width: 100%; */
  font-family: "ADLaM Display";
}

/* HEADER */

header {
  height: 340px;
  width: 100%;
  background-color: #ffe5d0;
  /* display: flex; */
  /* justify-content: space-between; */
}

#top-header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
}

/* #navbarSupportedContent { */
  /* background-color: aqua; */
  /* border-radius: 1px; */
  /* border-color: #000; */
/* } */

#low-header h1 {
  /* display: flex; */
  height: 95px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 53px;
}

.navbar {
  height: 140px;
  width: 100%;
}

.navbar-nav .nav-link.active{
  color:black;
}

#logo {
  position: absolute;
  z-index: 1;
  width: 98px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 167px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-top: 12px;
}

.nav-item {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.nav-item:not(:last-child) {
  margin-right: 80px;
  /* margin-right: 25%; */
  /* justify-content: space-between; */
}

.container-fluid .navbar-collapse {
  text-align: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#header-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar-toggler {
  border-width: 0px;
}


#top-header img {
  flex-shrink: 0;
  border-radius: 100px;
}

#top-header p {
  color: #000;
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
  /* display: flex; */
}

#top-header h1 {
  display: none;
  margin: 1% 20% 0% 5%;
}

.listTrips-Container {
  width: 90%;
  height: 100%;
  margin: 1% auto 5%;
  justify-content: center;
  /* align-self: center; */
}

.card {
  margin-bottom: 10px;
  width: 100%;
}

.section-title {
  /* position: absolute; */
  display: ruby;
  white-space: break-spaces;
}

.section-title .card-title {
  margin-left: 5px;
}
.card-body ul {
  width: 90%;
  display: ruby-text;
}

.card-body li {
  list-style: none;
}

/* MAIN */

main {
  display: block;
  /* flex-wrap: wrap; */
  height: 100%;
  margin-top: 30px;
  /* width: 100%; */
}

#wrapper {
  /* margin-top: 400px; */
  /* width: 1200px; */
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  /* justify-content: center; */
  /* min-height: calc(100vh - 100px); */
}

#title {
  display: flex;
  width: 224px;
  height: 70px;
  font-weight: 400;
  font-size: 48px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

#dogsImgs-Container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  /* width: 800px; */
  justify-content: center;
  /* flex-direction:row; */
  gap: 50px;
}

.imgWrapper {
  width: 200px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-right: 10px; */
}

.image-wrapper img {
  /* width: 67px;
  height: 100px; */
  border-radius: 150px;
  object-fit: cover;
  transition: filter 0.3s ease;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}

.imgWrapper.selected img {
  filter: grayscale(50%);
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

#buttons > button {
  display: none;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding: 8px 8px 8px 8px;
  background: #00000040;
  border-radius: 5px 5px 5px 5px; 
  border-color: #00000040;
  /* margin-top: 60px; */
  /* margin-left: 500px; */
  color: #000000;
  font-family: "ADLaM Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  /* text-align: left; */
}

.dogName {
  color: #000;
  text-align: center;
  font-family: "ADLaM Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 60px;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
  #top-header img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100px;
    /* margin-left: 31px; */
    /* margin-top: 18px; */
  }

  header {
    height: 140px;
    /* width: 100%; */
    background-color: #ffe5d0;
    /* display: flex; */
  }

  #top-header {
    background-color: #ffe5d0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 12px;
    /* justify-content: space-between; */
  }

  #top-header h1 {
    text-align: center;
    /* justify-content: center; */
    display: flex;
    margin-right: 380px;
  }

  .container-fluid {
    padding-left: 0px;
  }

  .navbar-nav {
    margin-top: 3px;
    width: 600px;
    height: 100vh;
    background-color: #ffffff;
    /* border-style: solid; */
    /* padding-left: 12px; */
    /* width: 304px; */
  }

  .nav-item {
    flex-direction: column;
    width: 300px;
    text-align: left;
    height: 18px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 1px;
    left: 0;
  } 

  #low-header {
    /* position: absolute; */
    display: none;
  }

  .nav-item {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "ADLaM Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 60px;
    line-height: normal;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 40px;
    /* border-radius: 3px; */
  }

  #title {
    width: 180px;
    font-size: 40px;
  }
}
